<section class="intro">
    <div class="section__title"></div>
    <div class="section__content">
        <h1 class="intro__tagline">The Mission</h1>
          <p>
              When we hear Speech & Debate, we think of a <b>three word phrase</b>...
              <br>
          </p>
          <p>
              And that is: <b>Being. Wholly. Yourself.</b>
          </p>
          <p>
            We believe that <b>students themselves are the most powerful agents</b> at shifting the tectonic plates of the future. In a world where <b>AI is disrupting everything</b>, the importance of <b>being a skilled human communicator</b> will never change.
          </p>
          <p>
            There exists a universal <b>fear of speaking in public</b>, but it doesn’t have to be that way. <br>That’s why we’ve created <b>free courses</b> designed to guide you through the fundamentals of Speech & Debate. Whether you’re looking to <b>step out of your comfort zone</b> or <b>elevate your existing skills</b>, our programs are here to support you.
          </p>
          <p>
            For seasoned competitors, we've set up bootcamps, led by the <b>world’s top performers in the field</b>, offer unparalleled expertise and insights.
          </p>
          <p>
            Schedule a call with our team to discuss how we can best support your goals.
          </p>
          <span>
            <a class="typeform-share button" href="https://sdsimplified.setmore.com/beta" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#d6936f;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_blank">Click Me </a> </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
          </span>
    </div>
    <!--<img src="{{site.baseurl}}/img/featured/ariv/arivpic.jpeg" alt="" style="padding: 130px 100px; position: absolute; top: 0; right: 0; max-height: 800px; object-fit: contain;">-->
</section>

<style>
  @media (max-width: 768px) {
    .intro {
      padding: 30px 10px;
    }
    .intro__tagline {
      font-size: 24px;
    }
    .section__content {
      padding: 20px;
    }
  }
  </style>