<section class="section background">
  <div class="section__title">Us</div>
  <div class="section__content">
    <h2>The Mission</h2>
    <p>
    When we hear Speech & Debate, we think of a three word phrase. 
    <br>
    </p>
    
    <p>
    And that is... 
    <br>
    <b>Being unapologetically yourself.</b> 
    </p>
    
    <p>
    We know how it feels to be afraid of speaking, but it shouldn't be that way. So we built a course designed to help you navigate through the fundamentals of the best activity to get you out of your comfort zone, Speech & Debate. 
    <br>
    And no it's not going to be easy. And no its not going to be hard. But it will do wonders on your speaking <b>ability</b>, <b>confidence</b>, and <b>tenacity</b>. 
    <br>
    We promise you that if you stick with us for the next couple months, you'll come out not just <b>happy</b> with speaking your mind in front of the world, but you'll be <b>excited</b>.
    <br>
    <b>And that's the true power of simple.</b>
    </p>

    <h2>Wait, but What Exactly Do You Do?</h2>
    <p>
      We thought you might ask :)
      <br>
      To put it simply, a group of high schoolers (find out exactly who below) are working together to build the world's first <b>first completely online speech & debate course</b>.
      <br>
      This "master" course will be released in a split up form, with "Speech Fundamentals" coming first, then "Debate Fundamentals", followed by finally, the individual speech and debate events.
      <br>
      And did I mention this is all <b>free?</b>
      <br>
      And it's because we want everyone to have equal access to this activity that we hold so close to our heart.
    </p>

    <h2>Hold Up, What the Heck is Speech & Debate Though?</h2>
    <p>
      We thought you might ask ;)
      <br>
      We'd explain it via text, but why write when we can talk ;)
      <br>
      So here's one of our founders, Ariv, who'll give you the run down:
    </p>
    
    <!-- youtube embed -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zolTMREjPM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <p>
      So come join us and learn this activity, <b>the simple way</b>.
    </p>
    <!-- {% include employment-status.html %} -->
  </div>
</section>
