<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    
    <p>
      Is life really too short to live, or do we just not live our short life enough? 
      <br>
      Easy to ask, but difficult to answer. 
      <br>
      I’d answer the latter. 
      <br>
      In our “short lives,” we are often so stuck in reaching for one goal after the other that we associate happiness with success. 
      <br>
      We don’t allow ourselves to relish in the in-between.
    </p>
      
    <p>
      My goal is to create experiences for the world’s people that help them realize the beauty of the in-between. 
      <br>
      To create experiences that bring them happiness.
      <br>
      That help them smile.
    </p>
    
    <p>
      I’m a self-diagnosed polymath who loves to 
      <a class="underline-link" href="https://www.tinyurl.com/arivRun" target="_blank">run</a>, 
      cook, 
      <a class="underline-link" href="https://calendar.thetrackapp.com/vip/ariv/" target="_blank">conversate</a>,
      dance,
      <a class="underline-link" href="https://www.studentsxstudents.com/" target="_blank">write</a>, 
      program,
      <a class="underline-link" href="https://outdoors-club.com" target="_blank">get outdoors</a>,
      lead,
      <a class="underline-link" href="https://www.jamesloganforensics.org/donate" target="_blank">perform</a>,
      inspire, 
      <a class="underline-link" href="https://podcast.arivgupta.com" target="_blank">podcast</a>, 
      sell, 
      <a class="underline-link" href="https://www.lightuptable.wordpress.com/" target="_blank">build</a>, 
      golf, 
      <a class="underline-link" href="https://podcasts.apple.com/us/podcast/the-tim-ferriss-show/id863897795?i=1000514364656" target="_blank">listen to podcasts</a>, 
      sing, 
      <a class="underline-link" href="https://photos.arivgupta.com" target="_blank">take photos</a>,
      learn,
      <a class="underline-link" href="https://www.notion.so/Cool-Tech-8a271a48f6f54128a4dbcbc4defe62af" target="_blank">use cool tech</a>, 
      sleep on time,
      and do a whole lot of other unrelated things. 
      <br>
      But the medium in which I bring the world happiness has little significance.
    </p>
    
    <p>
      It’s the impact that counts.
    </p>  
      
    <p>
      I am an “Incubator of Happiness”.
    </p>
    <!-- {% include employment-status.html %} -->
  </div>
</section>
