<section class="section background">
    <div class="section__title">About Us</div>
    <div class="section__content">
      <h2>The Mission</h2>
      <p>
      When we hear Speech & Debate, we think of a three word phrase. 
      <br>
      </p>
      
      <p>
      And that is: <b>Being. Wholly. Yourself.</b> 
      </p>
      
      <p>
      We understand the fear of speaking in public, but it doesn’t have to be that way. That’s why we’ve created free courses designed to guide you through the fundamentals of Speech & Debate. 
      Whether you’re looking to step out of your comfort zone or elevate your existing skills, our programs are here to support you.
      </p>
      <p>
      For seasoned competitors, our bootcamps, led by the world’s top performers in the field, offer unparalleled expertise and insights.
      </p>
      <p>
      Here’s a glimpse of coach Ariv performing his Original Oratory at the NSDA National Tournament!
      </p>
      <!-- {% include employment-status.html %} -->
    </div>
  </section>
  