<section class="section featured-projects">
    <div class="section__title">Camps</div>
    <div class="section__content">
      <div class="project blistabloc">
        <figure class="project__pic">
          <a href="https://udemy.com/course/speechfundamentals" target="_blank">
            <img src="{{site.baseurl}}/img/featured/oratoryCamp/oratoryCamp.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://udemy.com/course/speechfundamentals" target="_blank">Oratory Bootcamp</a>
          </div>
          <p>
            A two-week intensive bootcamp taught by the NIETOC Champion and NSDA Nationals Runner-Up in Original Oratory.
            <br>
            Get your speech written and coached, ready to go, for next year's competition.
          </p>
        </figcaption>
      </div>
    </div>
  </section>
  