<section class="section featured-projects">
  <div class="section__title">Courses</div>
  <div class="section__content">
    <h2>At least the released one(s) ;)</h2>
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://sdsimplified.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/speechFund/speechFund.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://sdsimplified.com/" target="_blank">Speech Fundamentals</a>
        </div>
        <p>
          A soft introduction to speech fundamentals. 
          <br>
          Learn how to talk your talk and walk your walk, the speech way.
        </p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <a href="https://sdsimplified.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/debateFund/debateFund.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://sdsimplified.com/" target="_blank">Debate Fundamentals</a>
        </div>
        <p>
          A soft introduction to debate fundamentals. 
          <br>
          Learn how to be very mean and professionally roast people.
          <br>
          Just kidding ;)
          <br>
          Coming soon...
        </p>
      </figcaption>
    </div>
  </div>
</section>
