<header class="intro">
  <h1 class="intro__hello">Hey!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">Welcome to <img class="emoji" src="{{site.baseurl}}/img/emojis/logo.png" alt="emoji">
    <span class="name">Simplified.</span> <br> We're a team of high school students who are building online courses that teach speech & debate the way we wish it was taught... <br> simply.
    <img class="emoji" src="{{site.baseurl}}/img/emojis/smile.png" alt="emoji">
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch</span>
    <span class="emoji pointer"></span>
    <span>
      <a class="typeform-share button" href="https://form.typeform.com/to/QyQ4wdUJ?typeform-medium=embed-snippet" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#D3A406;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_blank">Click Me ;) </a> </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </span>
  </h3>
</header>
