<!--<footer class="header">
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
</footer>


<div class="switch-wrapper">
  <div class="sun"></div>
  <div class="toggle-wrapper">
    <input id="switch" type="checkbox" />
    <label for="switch" id="toggle">Toggle</label>
  </div>
  <div class="moon"></div>
</div>-->

