<!--<div class="switch-wrapper">
  <div class="sun"></div>
  <div class="toggle-wrapper">
    <input id="switch" type="checkbox" />
    <label for="switch" id="toggle">Toggle</label>
  </div>
  <div class="moon"></div>
</div>-->

<header style="padding: 50px 80px; position: absolute; top: 0; right: 0;">
  <div class="footer__links">
    {% for link in site.navbar %}
    <a href="{{link.url}}" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/navbar/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
</header>

/* Media queries for mobile view */
<style>
@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }
  .footer__links a .navbar-icon {
    width: 40px;
  }
  .intro__tagline {
    font-size: 24px;
  }
  .section__content {
    padding: 20px;
  }
}
</style>